@mixin object {
  margin: 20px 50px;
  position: relative;
  cursor: pointer;
  float: left;
  // width: 100%;
}

@mixin head($width, $bgColor) {
  width: $width;
  height: $width;
  border-radius: 50%;
  background-color: $bgColor;
  position: relative;
}

@mixin ears {
  content: "";
  width: 30%;
  height: 30%;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}
